.section.home
  .home__title
    Server for
    %a{href: '#', target: '_self'} Custom Input
  .home__subtitle
    Developed by
    %a{href: 'https://ohzi.io', target: '_blank'} OHZI Interactive Studio
